<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://thelia.net/schema/dic/config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://thelia.net/schema/dic/config http://thelia.net/schema/dic/config/thelia-1.0.xsd">
    <forms>
        <form name="moneris.payment" class="Moneris\Form\MonerisPaymentForm" />
        <form name="moneris.configuration" class="Moneris\Form\MonerisConfigForm"/>
    </forms>

    <hooks>
        <hook id="moneris.hook" class="Moneris\Hook\MonerisHook" scope="request">
            <tag name="hook.event_listener" event="order-invoice.bottom" type="front" />
        </hook>
    </hooks>
</config>
